@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';

.task-column {
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    transition: box-shadow 250ms;
    box-sizing: border-box;
    display: flex;
    flex: 0 0 304px;
    flex-direction: column;
    height: 100%;
    max-width: 304px;
    padding: 7px 12px;
    position: relative;
    width: 304px;
    border: 1px solid $main-color;
    transition: 0.3s;
    transition-timing-function: ease-out;
    &:hover {
      border: 1px solid $text-color;
    }
    &__settings {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      &-title {
        border: none;
        outline: none;
        background-color: transparent;

        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: $title-color;
        @include ProximaSemiboldFont;
      }
    }
}