@import '../../scss/variables';

.main-page {
  padding: $padding-container;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-color: $main-color;
  &__boards {
    padding: 24px 35px;
    min-width: 50%;
    min-height: 400px;
    border: 1px solid #434548;
    border-radius: 10px;
  }
}