@import '../../scss/variables';
@import '../../scss/mixins';

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: $padding-container;
  padding-top: 12px;
  padding-bottom: 14px;
  background: $main-color;
  position: sticky;
  top: 0;
  z-index: 101;
  transition-duration: 0.3s;
<<<<<<< HEAD
=======
>>>>>>> ac34a72c00c262406f63367bf2835bdc937463ca

  @media (max-width: 540px) {
    flex-direction: column;
    row-gap: 7.5px;
    align-items: flex-start;
  }

  &_left-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0px;

    @media (max-width: 545px) {
      width: 100%;
      align-items: center;
    }

    &_title {
      color: $yellow-color;
      @include GilroyFont;
      font-size: 3rem;
    }

    &_language-switch {
      background-color: inherit;
      display: flex;
      align-items: center;
      gap: 0;
      height: 2.5vh;
      color: $white-color;
      transition-duration: 0.3s;

      .header_left-block_language-switch_left-text {
        color: inherit;
        @include ProximaSemiboldFont;
        font-size: 1.1rem;
        font-weight: 600;
        margin-right: -17px;
        padding-top: 1.5px;
      }

      .header_left-block_language-switch_right-text {
        color: inherit;
        padding-top: 2px;
        width: 10%;
        @include ProximaSemiboldFont;
        font-size: 1.1rem;
        font-weight: 600;
        margin-left: -8.5px;
      }
    }
  }

  &_right-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.75px;

    @media (max-width: 545px) {
      width: 100%;
      align-items: center;
    }

<<<<<<< HEAD
  &_login-greeting {
        color: #a2a0a2;
        font-family: "Gilroy";
        font-weight: 100;
          & span {
              color: $yellow-color;
            }
=======
    &_login-greeting {
      /* display: flex;border: 2px red solid;
      flex-direction: column;
      row-gap: 3px;
      align-items: center;
      @media (max-width: 520px) {
        flex-direction: column;
        align-items: center; */
      color: #a2a0a2;
      font-family: "Gilroy";
      font-weight: 100;

      & span {
        color: $yellow-color;
>>>>>>> ac34a72c00c262406f63367bf2835bdc937463ca
      }
    }

    &_nav-buttons {
      display: flex;
      column-gap: 3%;
      align-items: center;

      @media (max-width: 545px) {
        flex-direction: row;
        justify-content: center;
        column-gap: 1vh;
        width: 100%;
      }
    }
  }
}

.header__scrolled {
  box-shadow: rgb(232 251 70 / 20%) 0px 8px 30px;
  transition-duration: 0.3s;
  background-color: #ffffff;
  padding-bottom: 25px;

  .header_left-block_language-switch__scrolled {
    color: $grey-color;
    transition-duration: 0.3s;
  }
}

.login-greetings {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  &__text {
    color: $text-color;
    font-family: "Gilroy";
    font-weight: 100;
    margin-bottom: 10px;

    & span {
      color: $yellow-color;
    }
<<<<<<< HEAD
}
=======
  }
}
>>>>>>> ac34a72c00c262406f63367bf2835bdc937463ca
