@import '../../scss/variables';
@import '../../scss/mixins';

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $padding-container; 
    padding-top: 14px;
    padding-bottom: 0px;
    background-color: $main-color;
    border-bottom: 4px #404040;
    border-style:groove;
    .header_left-block{
    display: flex;
    flex-direction: column;
    row-gap: 0px;
    h1{
        color: $yellow-color;
        @include GilroyFont;
        font-size: 2.5rem;
    }
    .language-switch {
    background-color: $main-color;
    display: flex;
    gap: 0;
    .language-switch_left-text {
        color: $white-color;
        @include ProximaSemiboldFont;
        font-size: 0.8rem;
        font-weight: 600;
        margin-right: -20px;
        }
    .language-switch_right-text {
        width:10%;
    color: $white-color;
    @include ProximaSemiboldFont;
    font-size: 0.8rem;
    font-weight: 600;
    margin-left: -12px;
        }
    }}
        .header_right-block{
            display: flex;
            column-gap: 3%;
            align-items: center;
            padding-bottom: 1%;
    }
}