@mixin GilroyFont {
  font-family: 'Gilroy';
  font-weight: 700;    
}

@mixin ProximaRegularFont {
  font-family: 'Proxima Nova';
  font-weight: 400;
}

@mixin ProximaSemiboldFont {
  font-family: 'Proxima Nova';
  font-weight: 600;
}