$main-color: #252628;
$text-color: #a2a0a2;
$text-color_2: #fee304;
$title-color: #ffffff;

$yellow-color: #fee304;
$blue-color: #6879d9;
$white-color: #ffffff;
$grey-color: #a2a0a2;

$padding-container: 30px 60px 60px 60px;