@import '../../scss/variables.scss';

.board-page {
  display: flex;
  justify-content: space-between;
  position: relative;
  background-color: $main-color;
  height: calc(100vh - 262px);
  overflow-y: hiddenы;
  overflow-x: auto;
  padding: 15px 35px;
  &__columns {
    display: flex;
  }
}
.nameColumn {
  color: $text-color !important;
}
