@import '../../scss/variables';
@import '../../scss/mixins';

.footer {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-top: 30px;
   padding-right: 60px;
   padding-left: 60px;
   padding-bottom: 30px;
   background-color: $main-color;
   color: $title-color;
   height: 7vh;
   width: 100%;
   @include GilroyFont;
   a {
      text-decoration: none;
   }

   &_rss-logo-block {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      font-size: 1.2rem;
      font-weight: 600;
      color: $text-color;
      row-gap: 0.75vh;
      background-image: url('../../assets/svg/rs-school-logo_inverted.svg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position-x: -10px;
      background-position-y: center;
      padding-top: 65%;
      width: 100%;
      padding-right: 15px;

      @media (max-width: 1000px) {
         font-size: 1.1rem;
         background-position-x: -10px;
      }

      @media (max-width: 600px) {
         font-size: 1rem;
      }

      @media (max-width: 500px) {
         width: 100%;
         font-size: 0.9rem;
         padding-top: 50%;
         background-position-x: -8px;
      }
   }

   .footer_yearmark-block {
      display: flex;
      align-content: center;
      align-items: center;
      vertical-align: middle;
      font-size: 1.5rem;
      width: fit-content;
      color: $text-color_2;

      @media (max-width: 600px) {
         font-size: 2rem;
      }

      @media (max-width: 550px) {
         font-size: 1.7rem;
      }

      @media (max-width: 500px) {
         font-size: 1.3rem;
      }

      @media (max-width: 350px) {
         font-size: 1.2rem;
      }
   }

   .footer_github-block {
      list-style: none;
      width: 180px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @media (max-width: 600px) {
         width: 150px;
      }

      @media (max-width: 500px) {
         width: 105px;
         height: 10vh;
      }

      @media (max-width: 400px) {
         height: 9.5vh;
      }

      li {
         color: $text-color;
         background-image: url(../../assets/svg/github-logo.svg);
         background-repeat: no-repeat;
         background-size: contain;
         background-position-y: center;
         background-position-x: 0%;
         padding-left: 10%;
         height: 1.5vh;
         width: 100%;
         display: flex;
         align-items: center;
         margin-bottom: 7px;
         @media (max-width: 600px) {
            font-size: 0.8rem;
            padding-left: 21%;
         }

         @media (max-width: 500px) {
            font-size: 0.6rem;
            background-size: 17%;
         }
      }
   }
}